.campo {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 align-items: center
}

.campo input {
 width: 300px;
 background-color: transparent;
 border: none;
 border-bottom: 2px solid #b9b9b9;
 border-radius: 2px;
 outline: none;
 transition-duration: 1s;
}

.borderBottomInput {}

.campo input:focus {
 border-bottom: 2px solid white;
}