@font-face {
 font-family: 'Trajan Pro Regular';
 src: url(fonts/TrajanPro-Regular.woff);
}

@font-face {
 font-family: 'Trajan Pro Bold';
 src: url(fonts/TrajanPro-Bold.woff);
}

body {}

.container {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 overflow: hidden;
 padding: 2rem 0;
}

.container video {
 width: 100%;
 position: fixed;
 top: 0;
 object-fit: cover;
 filter: blur(1.5px);
}

main {
 z-index: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5rem;
}

main img {
 width: 60%;
 filter: brightness(200%);

}

main h1 {
 font-family: 'Trajan Pro Regular', sans-serif;

}

.menu {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
}

.menu a {
 font-size: 20px;
 font-family: 'Trajan Pro Regular', sans-serif;
 position: relative;
}

a:hover::before {
 top: -8px;
 left: -40px;
 content: url(assets/cursor.cur);
 position: absolute;
 transform: rotate(-52deg);

}

a:hover::after {
 top: -8px;
 right: -40px;
 content: url(assets/cursor.cur);
 position: absolute;
 transform: rotate(129deg);
}

.saves {}